.hero 
{
    margin-bottom: 148px;
}
.hero__container 
{
    display: flex;
    flex-direction: row;
    gap: 126px;
    align-items: center;
    justify-content: center;
}
.hero__info 
{
}
.hero__title 
{
    font-size: 37px;
    color: #3F1E48;
    margin-bottom: 14px;
    width: 463px;
}
.hero__description 
{
    color: #312235;
    font-size: 17px;
    width: 388px;
    margin-bottom: 24px;
}
.hero__button 
{
    background-color: #8800F6;
    color: #ffffff;
    padding: 11px;
    width: 356px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 21px;
    order: 1;
}
.hero__stars 
{
    font-size: 14px;
    color: #601B73;
    gap: 23px;
    display: flex;
    margin-bottom: 13px;
    order: 2;
}
.hero__testimonial 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.testimonial__text
{
    font-size: 15px;
    color: #312235;
    width: 360px;
}
.hero__img {
}

@media (max-width: 768px) 

{

    .hero
    {
        margin-bottom: 60px;
    }

    .hero__img
    {
        display: none;
    }

    .hero__testimonial
    {
        display: none;
    }

    .hero__info
    {
        margin-left: 0;
        text-align: center;
        padding: 0px 17px 0px 30px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .hero__title
    {
        width: 291px;
        font-size: 25px;
    }

    .hero__description
    {
        width: 328px;
        font-size: 15px;

    }

    .hero__button
    {
        width: 314px;
        order: 2;
        font-size: 16px;
    }
    
    .hero__stars
    {
        order: 1;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 18px;
    }
}