@import "normalize.css";
@import "fonts.css";
@import "header.css";
@import "hero.css";
@import "achievements.css";
@import "ifyou.css";
@import "howitworks.css";
@import "propositions.css";
@import "author.css";
@import "testimonials.css";
@import "questions.css";
@import "footer.css";


.wrapper
{
    min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container
{
    max-width: 1400px;
    margin: 0 auto;
}